# Database
MONGO_URI=mongodb+srv://huymthe187068_db_user:OXY0idNb7IgI5WHV@cluster0.prickit.mongodb.net/smartattendance?retryWrites=true&w=majority
# JWT Secret (thay đổi trong production, tối thiểu 32 ký tự)
JWT_SECRET=72387a605a634a9a8ae067a69595b295330f5ba39c70014ed69bf301bc5a5bd86abc6fd5c98934448df4a416e2b04716f30034dd42ce6757f379a1098d6d5974
# JWT Expiration ( Để nguyên không cần thay đổi )
JWT_EXPIRES_IN=7d

# Email Configuration (for OTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=hieunguyenn1501@gmail.comcom
EMAIL_PASS=nhcd aisr lgcp mwjc
# EMAIL_DEV_MODE=true

