# Server
PORT=4000

# Database
MONGO_URI=mongodb://127.0.0.1:27017/smartattendance

# JWT Secret (thay đổi trong production, tối thiểu 32 ký tự)
JWT_SECRET=

# JWT Expiration ( Để nguyên không cần thay đổi )
JWT_EXPIRES_IN=7d

